@font-face {
    font-family: kaushan;
    src: url('~/assets/KaushanScript-AS.woff2');
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(15 23 42);
    color: white;
    text-align: center;
    font-size: 1.1rem;
    font-family: Verdana;
    margin: 0px;
    padding: 0px;
}

a:link,
a:hover,
a:active,
a:visited {
    color: white;
}

h1 {
    font-family: kaushan, cursive;
    font-size: 50px;
    margin-bottom: 15px;
    color: #e1b400;
}

h2 {
    font-family: arial;
    font-size: 25px;
    margin: 0px auto;
    text-decoration: underline;
    text-align: center;
    color: #e1b400;
}