@font-face {
    font-family: kaushan;
    src: url('~/assets/KaushanScript-AS.woff2');
}

html {
    scroll-behavior: smooth;
    max-width: 900px;
}

body {
    background-color: rgb(15 23 42);
    color: white;
    text-align: center;
    font-family: Verdana;
    margin: 0px;
    padding: 0px;
}

a:link,
a:hover,
a:active,
a:visited {
    color: #2dd4bf;
}

h1 {
    font-family: kaushan, cursive;
    font-size: 50px;
    margin-bottom: 15px;
    color: #e1b400;
}

h2 {
    font-family: arial;
    font-size: 30px;
    margin: 0 auto;
    padding-bottom: 12px;
    text-decoration: underline;
    text-align: center;
    color: #e1b400;
}

/* HEADER */

.header {
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 98%;
    margin: 0 auto;
    display: table;
}

.header-content {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.header-content img.logo {
    height: 200px;
    width: 200px;
    border: 2px solid #e1b400;
    border-radius: 50%;
    box-shadow:
      0 0 50px 10px #38b2ac;
}

.header-content img.social {
    height: 40px;
    width: 40px;
    margin: 8px;
    padding: 8px;
    border-radius: 30%;
    box-shadow:
      0 0 6px 2px #38b2ac;
}

.header-content img.more {
    height: 24px;
    width: 96px;
    margin-top: 1em;
}

.page-header {
    margin: 1em;
}

/* CONTENT */

.content-pane {
    margin: 0 auto;
    padding: 1em;
    max-width: 900px;
    text-align: justify;
}

.content-block {
    padding: 1em 1.5em;
    margin-bottom: 3em;
    border: 1px solid black;
    border-radius: 1em;
    box-shadow:
      0 0 12px 3px #38b2ac;
}

@media screen and (max-width: 600px) {
    .content-block {
        padding: 1em 0.75em;
    }
    
}

.content-block img {
    display: inline;
    height: 150px;
    width: 150px;
    margin: 1em;
    border: 2px solid #e1b400;
    border-radius: 50%;
}

.content-block .center {
    text-align: center;
}

/* FOOTER */

.footer {
    font-size: 14px;
    margin-bottom: 1em;
}

.page-footer {
    width: 800px;
    margin: 0px auto;
    font-size: 14px;
    margin-top: 1em;
}

.copy {
    margin-top: 2px;
    color: #e1b400;
}

.attr {
    font-size: 11px;
    margin-top: -10px;
    margin-bottom: 5px;
}